.App {
  text-align: center;
  transition: 2s;
  background: #F7F9FE;
  height: 100vh;
}

input, button {
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}

#disabledBtn {
  background: #959699;
  cursor: default;
}

#disabledExport {
  background: #959699;
  cursor: default;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 5px 25px;
  color: #FFFFFF;
  margin: 0;
  border: none;
  margin: 20px auto; 
}